code/pkgs/Wadl/GetCurrentTickets.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetCurrentTickets" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetCurrentTickets" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__paramId_def" />
      <object name="ManualTriggerInput">
        <property name="Executestoredprocedure(V2)_paramId" type="integer" />
      </object>
      <integer name="ResponseActionOutput_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_title_def" />
      <string name="ResponseActionOutput_items_def_description_def" />
      <integer name="ResponseActionOutput_items_def_categoryId_def" />
      <string name="ResponseActionOutput_items_def_tags_def" />
      <string name="ResponseActionOutput_items_def_dateCreated_def" />
      <string name="ResponseActionOutput_items_def_dateClosed_def" />
      <integer name="ResponseActionOutput_items_def_creatorId_def" />
      <string name="ResponseActionOutput_items_def_status_def" />
      <integer name="ResponseActionOutput_items_def_assignedTO_def" />
      <string name="ResponseActionOutput_items_def_lastUpdated_def" />
      <string name="ResponseActionOutput_items_def_updatedBy_def" />
      <integer name="ResponseActionOutput_items_def_parentId_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="id" type="integer" />
        <property name="title" type="string" />
        <property name="description" type="string" />
        <property name="categoryId" type="integer" />
        <property name="tags" type="string" />
        <property name="dateCreated" type="string" />
        <property name="dateClosed" type="string" />
        <property name="creatorId" type="integer" />
        <property name="status" type="string" />
        <property name="assignedTO" type="integer" />
        <property name="lastUpdated" type="string" />
        <property name="updatedBy" type="string" />
        <property name="parentId" type="integer" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Executestoredprocedure(V2)_paramId" path="/Executestoredprocedure(V2)_paramId" type="xs:long" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>