code/pkgs/Wadl/INSERT_NEW_TICKET.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="INSERT_NEW_TICKET" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="INSERT_NEW_TICKET" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__categoryId_def" />
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__creatorId_def" />
      <string name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__description_def" />
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__subCategoryId_def" />
      <string name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__title_def" />
      <object name="ManualTriggerInput">
        <property name="Executestoredprocedure(V2)_categoryId" type="integer" />
        <property name="Executestoredprocedure(V2)_creatorId" type="integer" />
        <property name="Executestoredprocedure(V2)_description" type="string" />
        <property name="Executestoredprocedure(V2)_subCategoryId" type="integer" />
        <property name="Executestoredprocedure(V2)_title" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Executestoredprocedure(V2)_categoryId" path="/Executestoredprocedure(V2)_categoryId" type="xs:long" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_creatorId" path="/Executestoredprocedure(V2)_creatorId" type="xs:long" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_description" path="/Executestoredprocedure(V2)_description" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_subCategoryId" path="/Executestoredprocedure(V2)_subCategoryId" type="xs:long" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_title" path="/Executestoredprocedure(V2)_title" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>