code/pkgs/Wadl/SMTP.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/smtp" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SMTP" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SMTP">SMTP (Simple Mail Transfer Protocol) is an internet standard for email supported by most email processing servers. Connect to SMTP to send email.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/smtp" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="Email_From_def" />
      <string name="Email_To_def" />
      <string name="Email_CC_def" />
      <string name="Email_Subject_def" />
      <string name="Email_Body_def" />
      <boolean name="Email_IsHtml_def" />
      <string name="Email_Bcc_def" />
      <string name="Email_Importance_def" />
      <string name="Email_ReadReceipt_def" />
      <string name="Email_DeliveryReceipt_def" />
      <array typeRef="Attachment" name="Email_Attachments_def" />
      <object name="Email">
        <property name="From" type="string" />
        <property name="To" type="string" />
        <property name="CC" type="string" />
        <property name="Subject" type="string" />
        <property name="Body" type="string" />
        <property name="IsHtml" type="boolean" />
        <property name="Bcc" type="string" />
        <property name="Importance" type="string" />
        <property name="ReadReceipt" type="string" />
        <property name="DeliveryReceipt" type="string" />
        <property name="Attachments" typeRef="Email_Attachments_def" />
      </object>
      <string name="Attachment_FileName_def" />
      <string name="Attachment_ContentId_def" />
      <string name="Attachment_ContentData_def" />
      <string name="Attachment_ContentType_def" />
      <string name="Attachment_ContentTransferEncoding_def" />
      <object name="Attachment">
        <property name="FileName" type="string" />
        <property name="ContentId" type="string" />
        <property name="ContentData" type="string" />
        <property name="ContentType" type="string" />
        <property name="ContentTransferEncoding" type="string" />
      </object>
      <string name="EmailV2_From_def" />
      <string name="EmailV2_To_def" />
      <string name="EmailV2_CC_def" />
      <string name="EmailV2_Subject_def" />
      <string name="EmailV2_Body_def" />
      <boolean name="EmailV2_IsHtml_def" />
      <string name="EmailV2_Bcc_def" />
      <string name="EmailV2_Importance_def" />
      <string name="EmailV2_ReadReceipt_def" />
      <string name="EmailV2_DeliveryReceipt_def" />
      <array typeRef="AttachmentV2" name="EmailV2_Attachments_def" />
      <object name="EmailV2">
        <property name="From" type="string" />
        <property name="To" type="string" />
        <property name="CC" type="string" />
        <property name="Subject" type="string" />
        <property name="Body" type="string" />
        <property name="IsHtml" type="boolean" />
        <property name="Bcc" type="string" />
        <property name="Importance" type="string" />
        <property name="ReadReceipt" type="string" />
        <property name="DeliveryReceipt" type="string" />
        <property name="Attachments" typeRef="EmailV2_Attachments_def" />
      </object>
      <base64Binary name="AttachmentV2_ContentData_def" />
      <string name="AttachmentV2_ContentType_def" />
      <string name="AttachmentV2_FileName_def" />
      <string name="AttachmentV2_ContentId_def" />
      <object name="AttachmentV2">
        <property name="ContentData" typeRef="AttachmentV2_ContentData_def" />
        <property name="ContentType" type="string" />
        <property name="FileName" type="string" />
        <property name="ContentId" type="string" />
      </object>
      <string name="EmailV3_From_def" />
      <string name="EmailV3_To_def" />
      <string name="EmailV3_CC_def" />
      <string name="EmailV3_Subject_def" />
      <string name="EmailV3_Body_def" />
      <string name="EmailV3_Bcc_def" />
      <string name="EmailV3_Importance_def" />
      <string name="EmailV3_ReadReceipt_def" />
      <string name="EmailV3_DeliveryReceipt_def" />
      <array typeRef="AttachmentV2" name="EmailV3_Attachments_def" />
      <object name="EmailV3">
        <property name="From" type="string" />
        <property name="To" type="string" />
        <property name="CC" type="string" />
        <property name="Subject" type="string" />
        <property name="Body" type="string" />
        <property name="Bcc" type="string" />
        <property name="Importance" type="string" />
        <property name="ReadReceipt" type="string" />
        <property name="DeliveryReceipt" type="string" />
        <property name="Attachments" typeRef="EmailV3_Attachments_def" />
      </object>
      <string name="SendEmail_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/smtp">
    <resource path="/{connectionId}/SendEmail">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="SendEmail" actionName="SendEmail" visibility="advanced" siena:isDeprecated="true" siena:family="SendMail" siena:revision="1" siena:status="Production">
        <doc title="Send Email&#xA;This operation sends an email to one or more recipients." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="From" path="/From" type="xs:string" />
            <param style="plain" name="To" path="/To" type="xs:string" />
            <param style="plain" name="CC" path="/CC" type="xs:string" />
            <param style="plain" name="Subject" path="/Subject" type="xs:string" />
            <param style="plain" name="Body" path="/Body" type="xs:string" />
            <param style="plain" name="IsHtml" path="/IsHtml" type="xs:boolean" />
            <param style="plain" name="Bcc" path="/Bcc" type="xs:string" />
            <param style="plain" name="Importance" path="/Importance" type="xs:string">
              <option value="Normal" />
              <option value="Low" />
              <option value="High" />
            </param>
            <param style="plain" name="ReadReceipt" path="/ReadReceipt" type="xs:string" />
            <param style="plain" name="DeliveryReceipt" path="/DeliveryReceipt" type="xs:string" />
            <param style="plain" name="Attachments" path="/Attachments" type="service:Email_Attachments_def" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="xs:string" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/SendEmailV2">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="SendEmailV2" actionName="SendEmailV2" visibility="important" siena:isDeprecated="true" siena:family="SendMail" siena:revision="2" siena:status="Production">
        <doc title="Send Email&#xA;This operation sends an email to one or more recipients." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="From" path="/From" type="xs:string" />
            <param style="plain" name="To" path="/To" type="xs:string" />
            <param style="plain" name="CC" path="/CC" type="xs:string" />
            <param style="plain" name="Subject" path="/Subject" type="xs:string" />
            <param style="plain" name="Body" path="/Body" type="xs:string" />
            <param style="plain" name="IsHtml" path="/IsHtml" type="xs:boolean" />
            <param style="plain" name="Bcc" path="/Bcc" type="xs:string" />
            <param style="plain" name="Importance" path="/Importance" type="xs:string">
              <option value="Normal" />
              <option value="Low" />
              <option value="High" />
            </param>
            <param style="plain" name="ReadReceipt" path="/ReadReceipt" type="xs:string" />
            <param style="plain" name="DeliveryReceipt" path="/DeliveryReceipt" type="xs:string" />
            <param style="plain" name="Attachments" path="/Attachments" type="service:EmailV2_Attachments_def" />
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/SendEmailV3">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="SendEmailV3" actionName="SendEmailV3" visibility="important" siena:isDeprecated="false" siena:family="SendMail" siena:revision="3" siena:status="Production">
        <doc title="Send Email (V3)&#xA;This operation sends an email to one or more recipients." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="From" path="/From" type="xs:string" />
            <param style="plain" name="To" path="/To" type="xs:string" />
            <param style="plain" name="CC" path="/CC" type="xs:string" />
            <param style="plain" name="Subject" path="/Subject" type="xs:string" />
            <param style="plain" name="Body" path="/Body" type="xs:string" />
            <param style="plain" name="Bcc" path="/Bcc" type="xs:string" />
            <param style="plain" name="Importance" path="/Importance" type="xs:string">
              <option value="Normal" />
              <option value="Low" />
              <option value="High" />
            </param>
            <param style="plain" name="ReadReceipt" path="/ReadReceipt" type="xs:string" />
            <param style="plain" name="DeliveryReceipt" path="/DeliveryReceipt" type="xs:string" />
            <param style="plain" name="Attachments" path="/Attachments" type="service:EmailV3_Attachments_def" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_smtp" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>